services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    networks:
      - web
    volumes:
      - /home/blehnen/docker/appdata/sonarr:/config
      - /mnt/media:/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=America/Chicago
      - PUID=1000  # Make sure this matches your user
      - PGID=1000  # Make sure this matches your group
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.lab1830.com`)"
      - "traefik.http.routers.sonarr.entrypoints=websecure"
      - "traefik.http.routers.sonarr.tls.certresolver=letsencrypt"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
networks:
  web:
    external: true
